@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERAL SETTINGS  */

* {
    font-family: "Work Sans", sans-serif;
    background-color: #1B191F;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-button {
    padding: 10px;
    border: 1px solid #555257;
    border-radius: 10px;
    background-color: #1B191F;
    text-decoration: none;
    color: white;
    width: 150px;
    text-align: center;
}

.home-button:hover {
    background-color: #555257;
}

.back-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 400px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #555257;
}

label {
    margin-bottom: 10px;
}

button.submit {
    background-color: #a238ff;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

button.submit:hover {
    background-color: #7328B5;
}

/* PAGE PRODUCT  */

#container-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0 40px;
}

#container-product img {
    max-width: 100px;
}

.div-product {
    border: 1px solid #555257;
    border-radius: 5px;
    width: 300px;
    padding: 15px;
}

.div-product:hover {
    border: 1px solid white;
}

.div-product p {
    font-size: 13px;
}

